.page-wrapper {
    display: inline;
}

.menu-bar{
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--toolbar-background);
}

.dependencies-container {
    width: 100vw;
    justify-content: center;
}

.selector {
    align-items: center;
    justify-content: center;
    height: 20vh;
    display: flex;
}

.grid {
    display: flex;
    justify-content: center;
}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.x-label {
    border-right: 1px solid black;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.add-dependencies-container {
    display: flex;
    justify-content: center;
    align-items: center;
}