.page-wrapper {
    display: inline;
}

.menu-bar{
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--toolbar-background);
}

.dependencies-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.selector {
    align-items: center;
    height: 20vh;
    display: flex;
}

.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-label {
    transform: rotate(90deg);
}

.add-dependencies-container {
    display: flex;
    justify-content: center;
    align-items: center;
}