.dependencies-container {
    display: inline;
}

.menu-bar{
    height: 100vh;
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    background: var(--toolbar-background);
}

.add-dependencies-container {
    display: flex;
    justify-content: center;
    align-items: center;
}