.login-root {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.login-container{
    background: var(--background-secondary);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--foreground);
}

.input-group {
    margin-bottom: 1.2rem;
}

.input-group label{
    display: block;
    color: var(--foreground);
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
}

.login-button-container {
display: flex;
justify-content: center;
}

.signup-link {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--primary-color);
}

.signup-link:hover {
    text-decoration: underline;
}

